<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jason.source.mapper.learn.StudentMapper">
  <resultMap id="BaseResultMap" type="com.example.jason.source.entity.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="student_age" jdbcType="INTEGER" property="studentAge" />
    <result column="student_sex" jdbcType="INTEGER" property="studentSex" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.jason.source.entity.Student">
    insert into student (id, student_id, student_name, 
      student_age, student_sex)
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{studentName,jdbcType=VARCHAR}, 
      #{studentAge,jdbcType=INTEGER}, #{studentSex,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.jason.source.entity.Student">
    update student
    set student_id = #{studentId,jdbcType=INTEGER},
      student_name = #{studentName,jdbcType=VARCHAR},
      student_age = #{studentAge,jdbcType=INTEGER},
      student_sex = #{studentSex,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, student_id, student_name, student_age, student_sex
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, student_id, student_name, student_age, student_sex
    from student
  </select>
</mapper>